.container {
    display: flex;
    text-align: center;
    margin: 10px;
}

.inline {
    float: left;
    width: 13.33%;
    padding: 5px;
    border: 1px solid grey;
}

img {
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.noone {
    padding-top: 30px;
}